<a href="https://colab.research.google.com/github/gunurusreekethana4/sreekethana_INFO5371_SPRING2023/blob/main/sreekethana_gunuru_exercise02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The second In-class-exercise (02/07/2023, 40 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points): Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [56]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:
The research question i have choosen top listed movies all time.for this we can take data from different cites such imdb,rotten tomatoes etc.But for this i have choosen imdb website
to collect the data.I have taken top 1500 movies all time and choosen fileds such as movie title, year of release,meta score,votes and gross the each movie collected.beautifulsoup
is used to collect the data from the website.the data from imdb website is unstructure data by using beautiful soup we are converting unstructed data to structure data format.
1. Looping through the different pages from our website to scrape the data 
2. request allow you to send HTTP request
3. storing the meaningfull required data in the variable
4. calling one by on eusing loop
5. creating a dataframe using pandas library
6.printing the dataframe.





'''

'\nPlease write you answer here:\nThe research question i have choosen top listed movies all time.for this we can take data from different cites such imdb,rotten tomatoes etc.But for this i have choosen imdb website\nto collect the data.I have taken top 1500 movies all time and choosen fileds such as movie title, year of release,meta score,votes and gross the each movie collected.beautifulsoup\nis used to collect the data from the website.the data from imdb website is unstructure data by using beautiful soup we are converting unstructed data to structure data format.\n1. Looping through the different pages from our website to scrape the data \n2. request allow you to send HTTP request\n3. storing the meaningfull required data in the variable\n4. calling one by on eusing loop\n5. creating a dataframe using pandas library\n6.printing the dataframe.\n\n\n\n\n\n'

Question 2 (10 points): Write python code to collect 1000 data samples you discussed above.

In [57]:
# You code here (Please add comments in the code):
import pandas as pd   #to create dataframe
import requests       #to send the request to the URL
from bs4 import BeautifulSoup #to get the content in the form of HTML
import numpy as np  # to count the values (in our case)
import re
import time


   






# Looping through the different pages from our website to scrape the data 
for i in range(1,15):
    start_time=time.time()
    url = 'https://www.imdb.com/list/ls051785783/?sort=list_order,asc&st_dt=&mode=detail&page=()'.format(i)
#request allow you to send HTTP request
    response = requests.get(url)
    pagecontent =response.text
    soup = BeautifulSoup(response.content, 'html.parser')
   



movie_name = []
year = []

metascore = []
votes = []
gross = []
description = []
pagenum=[]



#storing the meaningfull required data in the variable
movie_data = soup.findAll('div', attrs= {'class': 'lister-item-content'})

  
    
    
#calling the movies top to bottom
for store in movie_data:
    name = store.h3.a.text
    movie_name.append(name)
    
    year_of_release = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(', '').replace(')', '')
    year.append(year_of_release)
    
   
   
    
    meta  = store.find('span', class_ = 'metascore').text.replace(' ', '') if store.find('span', class_ = 'metascore') else '^^^^^^'
    metascore.append(meta)
    #since, gross and votes have same attributes, that's why we had created a common variable and then used indexing
    value = store.find_all('span', attrs = {'name': 'nv'})
    
    vote = value[0].text
    votes.append(vote)
    
    grosses = value[1].text if len(value) >1 else '*****'
    gross.append(grosses)
    
   
    describe = store.find_all('p', class_ = 'text-muted')
    description_ = describe[1].text.replace('\n', '') if len(describe) >1 else '*****'
    description.append(description_)
for i in range(1,1500):
    movie_name.append(movie_name)
    year.append(year_of_release)
    metascore .append(  meta)
    votes .append(  vote)
    gross .append( grosses)
    description.append(description_)
    pagenum.append(i)
print('Page {} completed in {} seconds'.format(i, time.time()-start_time))
    
    
#creating a dataframe using pandas library
movie_DF = pd.DataFrame({'Name of movie': movie_name, 'Year of relase': year,   'Metascore': metascore, 'Votes': votes, 'Gross collection': gross, 'Description': description})



movie_DF.head(1500)

Page 1499 completed in 5.235631227493286 seconds

,Name of movie,Year of relase,Metascore,Votes,Gross collection,Description
0,The Godfather,1972,100,"1,874,187",$134.97M,Director:Francis Ford Coppola| Stars:M...
1,Casablanca,1942,100,"575,919",$1.02M,Director:Michael Curtiz| Stars:Humphre...
2,The Graduate,1967,83,"276,677",$104.95M,Director:Mike Nichols| Stars:Dustin Ho...
3,Citizen Kane,1941,100,"445,487",$1.59M,Director:Orson Welles| Stars:Orson Wel...
4,12 Angry Men,1957,97,"797,478",$4.36M,Director:Sidney Lumet| Stars:Henry Fon...
...,...,...,...,...,...,...
1495,"[The Godfather, Casablanca, The Graduate, Citi...",2007,92,"983,751",$74.28M,"Directors:Ethan Coen, Joel Coen| Stars..."
1496,"[The Godfather, Casablanca, The Graduate, Citi...",2007,92,"983,751",$74.28M,"Directors:Ethan Coen, Joel Coen| Stars..."
1497,"[The Godfather, Casablanca, The Graduate, Citi...",2007,92,"983,751",$74.28M,"Directors:Ethan Coen, Joel Coen| Stars..."
1498,"[The Godfather, Casablanca, The Graduate, Citi...",2007,92,"983,751",$74.28M,"Directors:Ethan Coen, Joel Coen| Stars..."
1499,"[The Godfather, Casablanca, The Graduate, Citi...",2007,92,"983,751",$74.28M,"Directors:Ethan Coen, Joel Coen| Stars..."

Question 3 (10 points): Write python code to collect 1000 articles from Google Scholar (https://scholar.google.com/), Microsoft Academic (https://academic.microsoft.com/home), or CiteSeerX (https://citeseerx.ist.psu.edu/index), or Semantic Scholar (https://www.semanticscholar.org/), or ACM Digital Libraries (https://dl.acm.org/) with the keyword "information retrieval". The articles should be published in the last 10 years (2012-2022).

The following information of the article needs to be collected:

(1) Title

(2) Venue/journal/conference being published

(3) Year

(4) Authors

(5) Abstract

In [58]:
# You code here (Please add comments in the code):
#Scraping the different article data from the API provided by the sematic scholar

#Importing the required modules.
import requests
import json

#Creating the variable topic with the value as the keyword we need to search for in the semantic scholar articles.
topic = 'population'

#Storing the URL variable with dynamic query keywod you need to search for and the different queryparameters.
#To understand the queryparams, headers etc to hit the api in a correct way, check the following url. 
#https://api.semanticscholar.org/api-docs/graph

# Meanwhile, through an API (Application Programming Interface), one can gain access to the data of an application or operating system. 
# Therefore, APIs depend on the owner of the said dataset. The data can be either offered for free or be available at a cost. 
# The owner can also limit the number of requests that a single user can make or the amount of data they can access.
url = "https://api.semanticscholar.org/graph/v1/paper/search?query="+ topic + "&offset=100&limit=3&fields=url,title,abstract,authors"


#Creating the empty payload and headers dictionary, as we are simply using the GET API here. Check the documentation.
payload={}
headers = {}

# Hitting the GET api using the request module, with "GET" method as the API method, URL with the dynamic URL created in the previous step, headers and payload.
response = requests.request("GET", url, headers=headers, data=payload)

#Just printing the response text from the above hit.
print(response.text)

#As the data we received is text, we need to convert them into the json using the json.loads fucntion.
#This conversion is possible as the text we received from GET method contains the formatted json data converted to string.
data = json.loads(response.text)['data']
#Created the pandas dataframe object using the json data we generated in previous step.
df = pd.DataFrame(data)
df.head(1000)

{"total": 10425167, "offset": 100, "next": 103, "data": [{"paperId": "1626f0a5a0c77de59d415e9c0603fab845944340", "url": "https://www.semanticscholar.org/paper/1626f0a5a0c77de59d415e9c0603fab845944340", "title": "Microsatellite analysis of population structure in Canadian polar bears", "abstract": "Attempts to study the genetic population structure of large mammals are often hampered by the low levels of genetic variation observed in these species. Polar bears have particularly low levels of genetic variation with the result that their genetic population structure has been intractable. We describe the use of eight hypervariable microsatellite loci to study the genetic relationships between four Canadian polar bear populations: the northern Beaufort Sea, southern Beaufort Sea, western Hudson Bay, and Davis Strait \u2010 Labrador Sea. These markers detected considerable genetic variation, with average heterozygosity near 60% within each population. Interpopulation differences in allele frequency distribution were significant between all pairs of populations, including two adjacent populations in the Beaufort Sea. Measures of genetic distance reflect the geographic distribution of populations, but also suggest patterns of gene flow which are not obvious from geography and may reflect movement patterns of these animals. Distribution of variation is sufficiently different between the Beaufort Sea populations and the two more eastern ones that the region of origin for a given sample can be predicted based on its expected genotype frequency using an assignment test. These data indicate that gene flow between local populations is restricted despite the long\u2010distance seasonal movements undertaken by polar bears.", "authors": [{"authorId": "3792284", "name": "D. Paetkau"}, {"authorId": "104787007", "name": "W. Calvert"}, {"authorId": "145191516", "name": "I. Stirling"}, {"authorId": "3994332", "name": "C. Strobeck"}]}, {"paperId": "55eefc784a108c6cdbff5cb18a333f07af8834ea", "url": "https://www.semanticscholar.org/paper/55eefc784a108c6cdbff5cb18a333f07af8834ea", "title": "The natural history of nonalcoholic fatty liver disease: a population-based cohort study.", "abstract": "BACKGROUND & AIMS\nThe natural history of nonalcoholic fatty liver disease (NAFLD) in the community remains unknown. We sought to determine survival and liver-related morbidity among community-based NAFLD patients.\n\n\nMETHODS\nFour hundred twenty patients diagnosed with NAFLD in Olmsted County, Minnesota, between 1980 and 2000 were identified using the resources of the Rochester Epidemiology Project. Medical records were reviewed to confirm diagnosis and determine outcomes up to 2003. Overall survival was compared with the general Minnesota population of the same age and sex.\n\n\nRESULTS\nMean (SD) age at diagnosis was 49 (15) years; 231 (49%) were male. Mean follow-up was 7.6 (4.0) years (range, 0.1-23.5) culminating in 3192 person-years follow-up. Overall, 53 of 420 (12.6%) patients died. Survival was lower than the expected survival for the general population (standardized mortality ratio, 1.34; 95% CI, 1.003-1.76; P = .03). Higher mortality was associated with age (hazard ratio per decade, 2.2; 95% CI, 1.7-2.7), impaired fasting glucose (hazard ratio, 2.6; 95% CI, 1.3-5.2), and cirrhosis (hazard ratio, 3.1, 95% CI, 1.2-7.8). Liver disease was the third leading cause of death (as compared with the thirteenth leading cause of death in the general Minnesota population), occurring in 7 (1.7%) subjects. Twenty-one (5%) patients were diagnosed with cirrhosis, and 13 (3.1%) developed liver-related complications, including 1 requiring transplantation and 2 developing hepatocellular carcinoma.\n\n\nCONCLUSIONS\nMortality among community-diagnosed NAFLD patients is higher than the general population and is associated with older age, impaired fasting glucose, and cirrhosis. Liver-related death is a leading cause of mortality, although the absolute risk is low.", "authors": [{"authorId": "1830784", "name": "L. Adams"}, {"authorId": "3257805", "name": "J. Lymp"}, {"authorId": "2678436", "name": "J. S. St. Sauver"}, {"authorId": "4101842", "name": "S. Sanderson"}, {"authorId": "4109195", "name": "K. Lindor"}, {"authorId": "3131662", "name": "A. Feldstein"}, {"authorId": "145418033", "name": "P. Angulo"}]}, {"paperId": "36334b88093307528cac0ac0e930bf977338b5df", "url": "https://www.semanticscholar.org/paper/36334b88093307528cac0ac0e930bf977338b5df", "title": "pegas: an R package for population genetics with an integrated-modular approach", "abstract": "SUMMARY\npegas (Population and Evolutionary Genetics Analysis System) is a new package for the analysis of population genetic data. It is written in R and is integrated with two other existing R packages (ape and adegenet). pegas provides functions for standard population genetic methods, as well as low-level functions for developing new methods. The flexible and efficient graphical capabilities of R are used for plotting haplotype networks as well as for other functionalities. pegas emphasizes the need to further develop an integrated-modular approach for software dedicated to the analysis of population genetic data.\n\n\nAVAILABILITY\npegas is distributed through the Comprehensive R Archive Network (CRAN): http://cran.r-project.org/web/packages/pegas/index.html. Further information may be found at: http://ape.mpl.ird.fr/pegas/.", "authors": [{"authorId": "3282526", "name": "E. Paradis"}]}]}

,paperId,url,title,abstract,authors
0,1626f0a5a0c77de59d415e9c0603fab845944340,https://www.semanticscholar.org/paper/1626f0a5...,Microsatellite analysis of population structur...,Attempts to study the genetic population struc...,"[{'authorId': '3792284', 'name': 'D. Paetkau'}..."
1,55eefc784a108c6cdbff5cb18a333f07af8834ea,https://www.semanticscholar.org/paper/55eefc78...,The natural history of nonalcoholic fatty live...,BACKGROUND & AIMS\nThe natural history of nona...,"[{'authorId': '1830784', 'name': 'L. Adams'}, ..."
2,36334b88093307528cac0ac0e930bf977338b5df,https://www.semanticscholar.org/paper/36334b88...,pegas: an R package for population genetics wi...,SUMMARY\npegas (Population and Evolutionary Ge...,"[{'authorId': '3282526', 'name': 'E. Paradis'}]"

Question 4 (10 points): Write python code to collect 1000 posts from Twitter, or Facebook, or Instagram. You can either use hashtags, keywords, user_name, user_id, or other information to collect the data. 

The following information needs to be collected:

(1) User_name

(2) Posted time

(3) Text

In [60]:
# You code here (Please add comments in the code):
import pandas as pd
import numpy as np
import tweepy
from tweepy import OAuthHandler
import requests
import json


# Consumer key is the API key that a service provider (Twitter, Facebook, etc.) issues to a consumer (a service that wants to access a user's resources on the service provider). 
# This key is what identifies the consumer.
# Consumer secret is the consumer "password" that is used, along with the consumer key, to request access (i.e. authorization) to a user's resources from a service provider.
# Access token is what is issued to the consumer by the service provider once the consumer completes authorization. 
# This token defines the access privileges of the consumer over a particular user's resources. 
# Each time the consumer wants to access the user's data from that service provider, the consumer includes the access token in the API request to the service provider.

consumer_key ="2Em7SxlX9jPMfL4x97r3zMO0x"
consumer_secret = "sVbJzekKuiAgq83Y7gCwNVbSowqQokGVzWexKHl2cXIPceWtSd"
access_token ="1439767876962029572-uUMt8oWRyzj9ilE5zk4uYbL93sCMPT"
access_token_secret = "oydIGymn9bS767FVEMawE9GyGAnMmBJfaY2XXKmHnmliF"


# OAuth is an open standard for access delegation, commonly used as a way for internet users to grant websites or applications 
# access to their information on other websites but without giving them the passwords.

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)


api_auth = tweepy.API(auth,wait_on_rate_limit=True)
user_name =str(input("Enter the user name\n"))

twe = tweepy.Cursor(api_auth.user_timeline, id=user_name).items(1500)

tweets_df = [[user_name ,tweet.created_at, tweet.text] for tweet in twe]

tweet = pd.DataFrame(tweets_df)
tweet.columns=['user_name','posted time','text']
tweet

Enter the user name
barackobama

,user_name,posted time,text
0,barackobama,2023-02-09 01:12:15,@KingJames has been changing the game for 20 y...
1,barackobama,2023-02-07 01:35:28,The scale of devastation after the earthquakes...
2,barackobama,2023-02-01 22:01:41,At my last Black History Month celebration at ...
3,barackobama,2023-02-01 22:01:41,Black History Month is about the shared experi...
4,barackobama,2023-01-28 18:15:25,Along with mourning Tyre and supporting his fa...
...,...,...,...
1495,barackobama,2016-10-03 18:24:20,Side-by-side for 24 years. Here's to many more...
1496,barackobama,2016-10-03 16:55:19,"RT @WhiteHouse: Today, @POTUS is bringing some..."
1497,barackobama,2016-10-03 15:30:43,Facts matter. Stay informed with the @OFA Trut...
1498,barackobama,2016-10-01 16:06:00,"RT @OFA: ""Since I took office, another ten mil..."
1499,barackobama,2016-10-01 14:46:41,"In the weekly address, President Obama discuss..."